<div class="formpart updatekit">
    <form action="/kit/update" method="post" enctype="multipart/form-data">
        <label for="Title">Title</label>
        <input type="text" id="Title" name="Title" value="{{a.tital}}">
        <label for="ing">Ingredients</label>
        <input type="text" id="ing" name="ing" value="{{a.ingrediants}}">
        <label for="des">Description</label>
        <input type="text" id="des" name="des" value="{{a.descrition}}">
        <label for="cat">Category</label>
        <input type="text" id="cat" name="cat" value="{{a.category}}">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" value="{{a.price}}">
        <label for="time">Cooking time</label>
        <input type="text" id="time" name="time" value="{{a.cooking_time}}">
        <label for="ser">Servings</label>
        <input type="text" id="ser" name="ser" value="{{a.serving}}">
        <label for="cal">Calories</label>
        <input type="text" id="cal" name="cal" value="{{a.calories_per_serving}}">
        <label for="top"> Is it a top meal?</label>
        <input type="text" id="top" name="top" value="{{a.top_meal}}">
        <label for="pic">Picture</label>
        <input type="file" id="pic" name="pic" value="{{a.image_url}}">
        <button type="submit" class="submit-button state-0">Submit</button>
    </form>
</div>